body{
    background-color: black;
    background-image: url(../JSproject/images/batman.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: absolute;
    
    border-radius: 10px;
}

#ulNav{
    display: flex;
    color: white;
    gap: 50px;
    list-style: none;
    text-decoration: none;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color:antiquewhite;
    font-size: 18px;
    transition: all 0.2s;
}

a:hover {
    color:aliceblue;
    font-size: 22px;
    text-decoration: underline;
}