body{
    background-color: black;
    color:antiquewhite;
}
nav{
    position: absolute;
    
    border-radius: 10px;
}

#ulNav{
    display: flex;
    color: white;
    gap: 50px;
    list-style: none;
    text-decoration: none;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none; /* Remova o sublinhado padrão */
    color:antiquewhite; /* Cor do texto padrão */
    font-size: 18px; /* Tamanho da fonte padrão */
    transition: all 0.2s; /* Adicione uma transição suave para o efeito hover */
}

a:hover {
    color:aliceblue; /* Cor mais clara para o hover */
    font-size: 22px; /* Tamanho da fonte um pouco maior no hover */
    text-decoration: underline; /* Sublinhado no hover */
}

.movie-container {
    display: flex;
    align-items: flex-start;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Tamanho da tela inteira */
  }
  
  .movie-image {
    flex: 0 0 auto; /* Não dimensiona horizontalmente, mantém o tamanho original */
    margin-right: 20px; /* Espaço entre a imagem e os detalhes */
  }
  
  .movie-image img {
    width: 25vw;
    height: auto;
    border: 2px solid black;
    vertical-align: top;
  }
  
  .movie-details {
    font-size: 110%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 30vw;
    text-align: justify;
    align-self: flex-start;
    padding-top: 50px;
  }


  .like-button {
    background-color: #0a6ed9;
    color: #ffffff;
    border: 2px solid #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .like-button:hover {
    background-color: #09d30f;
    color: #ffffff;
  }

  .like-button:active {
    background-color: #09d30f;
  }
