* {
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
   background-color: black;
   display: flex;
   flex-direction: column;
}

header {
    height: 40px;
    background-color: brown;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 44px;
    padding-right: 44px;
}

#logo {}

#lupa {
    border: 6px;
    border-color: black;
    border-radius: 10px;
    width: 202px;
    background-color: rgb(156, 156, 156);
}

#Home {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

main {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-shrink: 1;
}


.box {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: rgb(255, 255, 255);
    margin-inline: 8px;
    padding: 8px;
    text-align: justify;
    font-family: cursive;
}

img{
    height: 240px;
    display: flex;
    flex-grow: 1;
}

#centerBox{
    border: none;
}