body{
    background-image: url(../images/dartwallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#ulNav{
    display: flex;
    color: white;
    gap: 50px;
    list-style: none;
    text-decoration: none;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none; /* Remova o sublinhado padrão */
    color:antiquewhite; /* Cor do texto padrão */
    font-size: 20px; /* Tamanho da fonte padrão */
    transition: all 0.2s; /* Adicione uma transição suave para o efeito hover */
}

a:hover {
    color:aliceblue; /* Cor mais clara para o hover */
    font-size: 22px; /* Tamanho da fonte um pouco maior no hover */
    text-decoration: underline; /* Sublinhado no hover */
}

.movies-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 20px;
    
    border-radius: 10px;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1857af;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #007bff;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* --------------------PAGINATION-------------------------------- */
#popMovies {
    overflow-x: auto;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;    
    
}

.homeMovies {
    width: 200px;
    height: 300px;
    display: inline-block;
    padding: 40px;
}

/* //----------aimantion----------------------------------- */
.text-animation {
    font-size: 24px;
    text-align: center;
    margin-top: 125px;
    opacity: 0; /* Initially hidden */
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes lightEffect {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
