html{
    background-color: tomato;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 20%;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: x-large;
    font-weight: 600;
    font-style: bold;
    background-color: tomato;
    color: rgba(0, 0, 0, 0.655);
}

form {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o input e o botão */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    flex-grow: 1; /* O input ocupará o máximo de espaço disponível */
}

button {
    padding: 10px 20px;
    background-color: #4cafaf;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    font-style: bold;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}
